:root {
    --accent-color: #316fe4;
}

@font-face {
  /* font-family: Montserrat;
  src: local('Montserrat'); */
  font-family: Gotham;
  src: url('../webfonts/GothamBook.ttf');
  font-weight: normal;
}



*, *::before, *::after {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, li, em, b, i, small, strong, label, input, button {
    font-family: Gotham, Montserrat, 'Miriam Libre', sans-serif;
}


.navbar {
    width: 100%;
     display: flex;          /* to use full width of screen */
     height: 5rem;
    padding: 1rem;
}


.logo {
    width: 10rem;
}

.logo i {
    padding: 0.5rem;
    font-size: 2rem;
}

.nav-menu {
    width: 100%;
}

.nav-menu .nav-list {
    display: flex;
   justify-content: space-evenly;       /* to adjust above buttons spacing evenly over screen */
    align-items: center;
    height: 100%;
}

.nav-menu .nav-list li.menu-item {
    padding: 0.75rem;
    /* height: 100%; */
    list-style-type: none;
    border-radius: 0.25rem;
}

.nav-menu .nav-list li.menu-item:hover {
    background-color:grey;
}

.nav-menu .nav-list li.menu-item a {
    text-decoration: none;
    padding: 0.75rem;
}

.input, .button {
    border: 1px solid #dedede;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    outline: none;
    border-radius: 0.25rem;
}

.button {
    font-size: 1rem;
    background-color: #dfdfdf;
    padding: 0.5rem 0.75rem;
}

.content {
    display: flex;
    justify-content: center;
}
    
.input-bo {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: #ffffff;
    margin: 5rem 0;
    border-radius: 0.25rem;
}

.input-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: #ffffff;
    margin: 5rem 0;
    border-radius: 0.25rem;
}
.input-box .input-header {
    padding-bottom: 1rem;
}
.input-box .input-form {
    width: 75%;
    margin: 0.5rem 0;
}
.input-box .input-form input {
    width: 100%;
    margin: 0.5rem 0;
}
.input-box .input-form input:last-child {
    margin-bottom: 0;
}
.input-box .input-actions {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #dedede; */
    padding: 2rem;
    /*border-top: 1px solid #888;*/
}

footer .upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

footer .upper-footer .footer-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .upper-footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

footer .upper-footer ul li {
    margin-bottom: 0.75rem;
}

footer .upper-footer ul li a {
    text-decoration: none;
}

.a-button {
    text-decoration: none;
    border: 1px solid #dedede;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    outline: none;
    border-radius: 0.25rem;
}
.a-button:hover {
    text-decoration: underline;
    background-color: #dfdfdf;
}

/* COLORS */
.gray-6 {
    color: #666;
}
